/*element/tag  selector is indicated with tag name*/
div
{
  color:red;
}
/*id selector---it indcates with #id name
               --unique element styling
               --higher specificity*/
#div5
{
  color:blue;
}
/*class selector-it indcates with dot.  classname
                 -used to apply styling multiple elemnts
                 --lower than id*/
.div2
{
  border:1px solid black;
  color:green;
}
/*group selector- collection of selectors separated wuth ,*/
b,i,del,#mark,.span
{
  display:block;
  margin:20px;
}
/* universal selctors styling applied for all the elements and selectors
 ---less specificity*/
*
{
  background-color: grey;
  margin:10px;
}

